- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Create web root directory for {{ domain_name }}
  file:
    path: "/var/www/{{ domain_name }}"
    state: directory
    owner: www-data
    group: www-data
    mode: "0755"

- name: Deploy Nginx vhost for {{ domain_name }}
  template:
    src: vhost.conf.j2
    dest: "/etc/nginx/sites-available/{{ domain_name }}"
  notify: Reload nginx

- name: Enable site {{ domain_name }}
  file:
    src: "/etc/nginx/sites-available/{{ domain_name }}"
    dest: "/etc/nginx/sites-enabled/{{ domain_name }}"
    state: link
  notify: Reload nginx

- name: Remove default nginx site
  file:
    path: "/etc/nginx/sites-enabled/default"
    state: absent
  notify: Reload nginx

- name: Test nginx config
  command: nginx -t
  register: nginx_test
  changed_when: false
  failed_when: nginx_test.rc != 0