server {
    listen 80;
    listen [::]:80;
    server_name {{ item.name }};

    # ACME HTTP-01 (webroot 방식)
    location /.well-known/acme-challenge/ {
        root {{ item.webroot_path }};
    }

    root /var/www/{{ item.name }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}