server {
    listen 80;
    listen [::]:80;
    server_name {{ domain_name }};

    # 👇 ACME HTTP-01 챌린지 처리용 (webroot 방식 핵심)
    location /.well-known/acme-challenge/ {
        alias /var/www/{{ domain_name }}/.well-known/acme-challenge/;
    }

    root /var/www/{{ domain_name }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}